<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue中表单输入绑定</title>
  <script src="../vue_day02/lib/vue.js"></script>
</head>
<body>
  <div id="app">
    <form action="" @submit.prevent="handleSubmit">
      用户名：<input type="text" name="username" v-model="username"><br>
      密码：<input type="text" name="password" v-model="password"><br>
      性别：<input type="radio" name="sex" value="male" v-model="sex">男
            <input type="radio" name="sex" value="female" v-model="sex">女
            <br>
      爱好：<input type="checkbox" id="baskball" value="baskball" v-model="likes">篮球
            <input type="checkbox" id="football" value="football" v-model="likes">足球
            <input type="checkbox" id="pingpang" value="pingpang" v-model="likes">乒乓球
            <br>
      城市：<select v-model="cityId">
              <option value="">未选择</option>
              <option :value="city.id" v-for="(city,index) in allCitys" :key="city.id">{{city.name}}</option>
            </select>
            <br>
      介绍：<textarea name="info" v-model="info" rows="5" cols="25"></textarea>
      <br>
      <input type="submit" value="注册">
    </form>
    
  </div>
  <script type="text/javascript">
    const vm = new Vue({
      el:"#app",
      data:{
        username:'',
        password:'',
        sex:'male',
        likes:['pingpang'],
        allCitys:[{id:1,name:'九江'},{id:2,name:'杭州'},{id:3,name:'上海'}],
        cityId:'2',
        info:''
      },
      methods: {
        handleSubmit(){
          console.log(this.username, this.password, this.sex, this.likes, this.cityId, this.info)
          alert('提交注册的ajax请求')
      }
      },
    });
  </script>
</body>
</html>